<template>
  <div class="about">
    <h2>The important role pets have in society</h2>
    <h6>The latest figures shows that 80 million European households have a pet. As this figure grows, so too does their role in people’s lives. Pets provide companionship, affection and protection and unique bonds are formed with owners.

In addition to being a source of love and friendship, there have been numerous scientific studies analysing the many ways in which pets are good for our health.

One of the more obvious health benefits of owning a pet is that of exercise - dog walking or playing with a cat is a great way for people to burn a few more calories. Other pets such as rabbits, birds and fish, all have their part to play.

Contact with animals can give confidence socially plus bring real physiological and psychological benefits: reducing stress, helping to prevent illness and allergies, lowering blood pressure, aiding recovery and boosting chances of survival after a life-threatening illness. In today's high-pressure society the presence of pets helps many humans cope with increasing stress and anxiety.

As part of a wider role, FEDIAF members fully support research into the human companion animal bond.

For more information on these benefits please look in the menu where we have looked at the physical, social and emotional benefits and also at specific</h6>
  </div>
</template>
