<template>
    <div>
        <h2>{{ animal.name }} ({{ $route.params.species }})</h2>
        <p>Age: {{ animal.age }} years old</p>
        <p>Breed: {{ animal.breed }}</p>
    </div>
</template>

<script>
/* eslint-disable */
import { mapState } from 'vuex'
export default {
    data () {
        return {
            animal: {}
        }
    },
    computed: {
      ...mapState([
          'dogs',
          'cats'
      ])
    },
    mounted() {
        const animal = this[this.$route.params.species][this.$route.params.id]
        this.animal = animal
    }
}
</script>